customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="customer" type="customerType"/>
	<xsd:complexType name="customerType">
		<xsd:all>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="city" type="xsd:string"/>
			<xsd:element name="zip" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
